# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\elior\OneDrive\Desktop\school\forth_year-S10-2 COURSES\IntroToCL\mmns\mmn16SMO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
